*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249, 229, 205);
}
/* font-family: 'Press Start 2P', cursive;
font-family: 'Rampart One', cursive;
font-family: 'ZCOOL KuaiLe', cursive;

*/
.container{
    max-width: 70%;
    margin: auto;
}

.container h1{
    text-align: center;
    margin: 40px;
    font-family: 'Press Start 2P', cursive;
    user-select:none;
}

 /* Campo*/
#camp{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 15px 3px #693B2B;
    margin: 40px;
}



 .square{
     width: 100px;
     height: 100px;
     background-color: rgb(157, 214, 166);
     border: 2px solid rgb(223, 245, 145);
     text-align: center;
     line-height: 100px;
     font-family: 'Press Start 2P', cursive;
     color: rgb(31, 53, 53);
 }

 .square.clicked{
     background-color: crimson;
 }

 .square.clicked-save{
    background-color: green;
 }

.square.bomb{
    background-color: black;
}

