*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 255, 152);
}
/* font-family: 'Press Start 2P', cursive;
font-family: 'Rampart One', cursive;
font-family: 'ZCOOL KuaiLe', cursive;

*/
.container{
    max-width: 70%;
    margin: auto;
}

.container h1{
    text-align: center;
    margin: 40px;
    font-family: 'Press Start 2P', cursive;
    user-select:none;
}

 /* Campo*/
 #camp{
     width: 1000px;
     display: flex;
     flex-wrap: wrap;
     margin: 40px;
    }
    
            #camp.shadow{
                box-shadow: 2px 2px 15px 3px #693B2B;
            }
 .square{
     width: 100px;
     height: 100px;
     background-color: rgb(210, 255, 173);
     border: 3px solid rgb(204, 206, 109);
     text-align: center;
     line-height: 100px;
     font-family: 'Press Start 2P', cursive;
     color: rgb(155, 11, 47);

 }

 .square.clicked{
    background-color:rgb(255, 0, 0);
    background-image: url(../img/sad.png);
    background-size: cover;
    color: transparent;
 }

 .square.clicked-save{
    background-color:rgb(96, 219, 123);
    background-image: url(../img/happpy.png);
    background-size: cover;
    color: transparent;
 }
.btn{
    display: flex;
    justify-content: center;
    
}
button{
    font-family: 'Press Start 2P', cursive;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 7px;
    border: 6px groove #820000;
    color: rgb(243, 243, 243);
    text-shadow: rgb(0, 0, 3) 1px 2px;
    background-color: rgb(187, 12, 56);
    margin-right: 20px;
}

button:last-child{
    margin-right: 0;
}
